@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
}

/****** Root ******/

:root {
    --primary: #107fc3;
    --primary-v2: #0a95ff; /* version 2 de la primary */
    --background: #edf7fb;
    --grey: #e2e2e2;
}

/****** Body ******/

body, html {
    width: 100% !important;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif !important;
    font-weight: lighter;
}

#wrapper {
    background-color: white !important;
    width: 100%;
    padding: 0 !important;
    /*margin-right: 0 !important;*/
    /*margin-left: 0 !important;*/
}

.container {
    /*padding: 0 !important;*/
}

#wrapper div.container {
    width: 100%;
    /*margin-right: 0;*/
    /*margin-left: 0;*/
}

.bg-blue {
    background-color: var(--primary);
}

.bg-dark {
    background-color: black !important;
    width: 100%;
    height: 360px;
}

section.featured-products {
    background-color: var(--grey);
}

div.container-catalogue {
    background-color: var(--grey);
}

h1.title-catalogue {
    padding-top: 25px;
}

.container-catalogue {
    display: flex; /* Active Flexbox */
    justify-content: space-between; /* Espacement entre les éléments */
    align-items: center; /* Centre les éléments verticalement */
    text-align: center; /* Centre le texte dans le conteneur du milieu */
    margin-bottom: 8rem;
}

.catalogue-image {
    flex: 1; /* Donne une flexibilité égale aux images pour occuper l'espace */
}

.catalogue-text-btn {
    flex: 2; /* Donne plus d'espace au texte et au bouton au milieu */
    display: flex;
    flex-direction: column; /* Organise le texte et le bouton verticalement */
    justify-content: center; /* Centre le contenu verticalement dans son conteneur */
    align-items: center; /* Centre le contenu horizontalement dans son conteneur */
}

nav.breadcrumb {
    margin-top: 3rem;
    margin-left: 2rem;
}

/*Carousel*/
.carousel img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

div.direction i.material-icons {
    display: none;
}

/****** Landing Gif ******/

div.gif {
    /*background-image: linear-gradient(to bottom, #05090d, #050a13) !important;*/
    background-color: black;
}

.gif {
    /*position: relative;*/
    width: 100%;
    overflow: hidden; /* pour empêcher l'image de déborder */
    filter: contrast(135%);
    margin-bottom: 2rem;
}

#custom-text {
    padding: 0 !important;
}

h1.text-black.title-announce {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: bold;
}

.h2.h2.products-section-title.text-uppercase {
    margin-top: 4rem;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 4rem;
    text-transform: initial !important;
    color: black;
}

p.text-black.text-align-center p {
    font-size: 2rem;
}

h3.text-bold {
    text-align: center;
}

.text-size-perso {
    padding-top: 4px;
    font-size: 1.2rem !important;
    line-height: 2rem;
}

p.text-perso-bot {
    padding-top: 3rem;
    font-size: 1.1rem;
    line-height: 2rem;
}

.text-perso-devise {
    padding: 7rem 4rem;
}

.container-announce {
    margin-top: 6rem;
    margin-bottom: 6rem;
    padding: 4rem;
}

/****** Button ******/

.btn-primary {
    background-color: var(--primary) !important;
}

.btn-default {
    background-color: var(--primary) !important;
}

.input-wrapper input:focus {
    border: 3px solid var(--primary) !important;
}

input[name='order_reference']:focus {
    outline: 3px solid var(--primary) !important;
}

input[name='email']:focus {
    outline: 3px solid var(--primary) !important;
}

#customer-form input:focus {
    outline: 3px solid var(--primary) !important;
}

section.register-form a {
    color: var(--primary);
}
/****** Category ******/

#search_filters_suppliers {
    display: none;
}

#subcategories {
    display: none;
}

/****** Products ******/

span.current-price-value {
    color: var(--primary);
}

button.btn.btn-primary.add-to-cart {
    background-color: var(--primary);
}

li.nav-item a {
    color: var(--primary) !important;
    /*border-bottom: 3px solid var(--primary) !important;*/
}

ul.product-images.js-qv-product-images img {
    border: 3px solid var(--primary) !important;
}

a#show_login_popup {
    color: var(--primary);
}

button.wishlist-button-add > i.material-icons {
    color: var(--primary);
}

/*title popular products*/
h1.products-section-title {
    padding-top: 25px;
}

/****** Main Menu ******/
.top-menu .sub-menu ul[data-depth="1"] > li {
    float: none !important;
    margin: 0 1.25rem;
}

.top-menu .sub-menu li a:hover {
    color: var(--primary) !important;
}

.text-white {
    color: #FFFFFF;
    text-align: center;
    background-color: var(--primary);
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.1em;
}

.header-top .container-fluid > .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: pink;*/
}

.header-top-right {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
    /*background-color: green;*/
}

.header-top-right .menu {
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    /*background-color: blue;*/
}

a.dropdown-item.dropdown-submenu {
    width: 100%;
    display: flex;
    justify-content: center;
    /*background-color: coral;*/
}

.popover.sub-menu {
    /*background-color: red;*/
    width: auto !important;
    min-width: 380px !important;
    position: absolute; /* Positionne le sous-menu de manière absolue par rapport à son parent */
    left: 50%; /* Centre le sous-menu horizontalement par rapport à son parent */
    transform: translateX(-50%); /* Ajuste la position pour centrer par rapport à son propre centre au lieu du bord gauche */
}
li#category-30,li#category-31,li#category-32,li#category-33,li#category-34 {
    /*transform: translateX(-15%); !* Ajuste la position pour centrer par rapport à son propre centre au lieu du bord gauche *!*/
}

/****** Landing services ******/

.services-title {
    padding-top: 1rem;
    padding-bottom: 1.2rem;
}

.container-services {
    background-color: #e2e2e2 !important;
    display: block;
    height: 100%;
    overflow: hidden; /* pour empêcher l'image de déborder */
    width: 100%;
    left: 50%;
    right: 50%;
    margin-bottom: 6rem;

}

/****** Landing text perso ******/

.text-perso-bot {
    background-color: #FFFFFF;
    padding: 3rem 0 3rem 0;
    color: black;
}

.blank {
    background-color: transparent;
}

/****** Landing container ******/

.services {
    padding: 30px 15px 30px 15px;
    text-align: center;
}

.white {
    background-color: #FFFFFF;
}

.text-black {
    color: black;
}

input[name='submitNewsletter'] {
    background-color: var(--primary);
}

input[name='submitNewsletter']:hover {
    background-color: black;
}

/****** Login ******/

#login-form a {
    color: var(--primary);
}

div.no-account a {
    color: var(--primary);
}

#field-email input:focus {
    border: 3px solid var(--primary);
}

/****** Cart ******/

h6.h6.product-name {
    color: var(--primary) !important;
}

.cart-preview.active {
    background-color: var(--primary) !important;
}

span.price {
    color: var(--primary);
}

span.product-price {
    color: var(--primary);
}

/****** Catalogue ******/

.title-announce {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 2rem;
}

.title-catalogue {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 3rem;
    margin-top: 5rem;
}

.a-catalogue a:hover {
    color: white !important;
    background-color: black !important;
}

/****** My Account ******/

.page-my-account #content .links a i:hover {
    color: var(--primary);
}

.page-my-account #content .links a:hover i {
    color: var(--primary);
}

.custom-radio input[type=radio]:checked + span {
    background-color: var(--primary) !important;
}

/****** Footer ******/

#footer {
    box-shadow: 5px 5px 40px rgba(10, 149, 255, 0.2);
}

#footer span.h3 {
    color: white !important;
}

#footer .cms-page-link {
    color: white !important;
}

ul.account-list li a {
    color: white !important;
}

#footer .material-icons {
    color: white !important;
}

div.footer-container {
    background-color: var(--primary);
}

#footer div.row.social-block {
    display: grid;
    place-items: center;
}

#footer .block-social li {
    background-color: var(--primary) !important;
    border-radius: 50%;
    margin-right: 2rem;
}

#footer .block-social ul {
    padding-top: 2rem;
    display: flex;
    justify-content: center !important;
}

div.footer-container a {
    color: white !important;
}

p.h3.hidden-sm-down {
    color: white !important;
}

div#contact-infos {
    color: white !important;
}

p.block-contact-title {
    color: white !important;
}

#footer, a:hover {
    color: black !important;
}

#footer .vizualee {
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
}

div.col-md-6.wrapper li {
    background-color: var(--primary);
    border-bottom: 0;
    margin-bottom: 0;
}

ul#footer_account_list.account-list.collapse.in {
    background-color: var(--primary);
}

ul#footer_account_list.account-list.collapsing {
    background-color: var(--primary);
}

ul#footer_account_list.account-list.collapsing li {
    border: 0;
}

ul#footer_account_list.account-list.collapse.in li {
    border: 0;
}

/****** A propos ******/

header.page-header {
    padding-left: 2rem;
}

main > section#wrapper {
    background-color: #ffffff;
}

section#content.page-content.page-cms.page-cms-4 {
    background-color: transparent;
}

.about-container {
    display: flex;
    align-items: center; /* Centre les éléments verticalement */
    justify-content: center; /* Alignement horizontal au début */
    gap: 20px;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.about-text {
    padding-left: 20px; /* Ajustez selon le besoin pour l'espacement entre l'image et le texte */
}

.about-text p {
    margin-top: 2rem;
    font-size: 1.1rem !important;
    line-height: 1.5;
}

.about-image img {
    max-width: 60%;
    height: auto;
    display: block; /* Élimine les marges basales sous l'image */
    border-radius: 45%;
}

.about-image, .about-text {
    margin: 0; /* Réinitialise les marges pour les éléments d'image et de texte */
    padding: 0; /* Réinitialise le padding pour les éléments d'image et de texte */
}

.about-container2 {
    display: flex;
    align-items: center; /* Centre les éléments verticalement */
    justify-content: space-around; /* Alignement horizontal */
    flex-direction: row-reverse; /* Inverse l'ordre des éléments */
}

div.about-container2 p {
    margin-top: 2rem;
    font-size: 1.1rem !important;
    line-height: 1.5;
    padding-right: 2rem;
}

.about-text2 {
    padding-right: 20px; /* Ajustez selon le besoin pour l'espacement entre l'image et le texte */
}

.about-image2 img {
    max-width: 100%;
    height: auto;
    display: block; /* Élimine les marges basales sous l'image */
    border-radius: 40%;
}

/****** Product page ******/

.product-flags li.product-flag {
    background-color: var(--primary) !important;
}

.pagination .current a {
    color: var(--primary)
}

section.featured-products {
    margin-top: 7rem;
    /*margin-bottom: 7rem;*/
}

section.featured-products.clearfix.mt-3 {
    padding: 2rem 3rem;
}

/*Popular products border card*/

div.thumbnail-container.reviews-loaded {
    border-radius: 15px !important;
}

div#left-column {
    padding-left: 3rem;
}

div.block-categories {
    box-shadow: 5px 5px 40px rgba(10, 149, 255, 0.2);
    color: white !important;
    background-color: var(--primary);
}

div.block-categories a {
    color: white !important;
}

.block-category .block-category-inner .category-cover img {
    width: 400px !important;
    height: 330px !important;
}

div#search_filters_brands {
    box-shadow: 5px 5px 40px rgba(10, 149, 255, 0.2);
}

/****** Modal pop-up ******/

#welcome {
    display: none;
    position: fixed;
    color: white;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#welcomePop {
    background-color: var(--primary);
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    border-radius: 30px;
    border: 3px solid white;
    /*box-shadow: 30px 30px 50px var(--primary);*/
}

#welcome h2 {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
}

#welcomePop p {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.btn-modal {
    display: flex;
    justify-content: center;
}

.btn-modal button {
    color: var(--primary) !important;
    font-weight: bold;
    border-radius: 30px;
    margin-bottom: 3rem;
}
/****** Media queries ******/

@media (max-width: 576px) {
    .header-top .search-widgets {
        width: 91vw;
    }

    .gif {
        height: 10rem;
    }

    .about-container {
        display: block;
    }

    .about-container2 {
        display: block;
        padding: 20px;
        width: 100%;
    }

    div.about-image {
        display: flex;
        justify-content: center;
        margin-bottom: 3rem;
    }

    div.about-image2 {
        display: flex;
        justify-content: center;
        margin-bottom: 3rem;
    }

    div.about-image img {
        width: 100%;
    }

    div.about-image2 img {
        width: 60%;
        border-radius: 45%;
    }

    div.catalogue-image {
        display: none;
    }

    #welcome h2 {
        font-size: 1.2rem;
    }
}

@media (max-width: 768px) {
    .header-top .search-widgets {
        max-width: 100% !important;
        width: 80vw;
    }

    div#left-column {
        padding-left: 0;
        padding-right: 0;
    }

}


